@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/*#434AA1, #414361, #2733E0, #2D2D33*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Courier New', Courier, monospace;
    background-image: url(imgs-especiais/wallpaper004.jpg);
}

header {
    background-image: linear-gradient(to right, #414361, #434AA1, #2733E0);
    margin: 0;
    border: white 1px solid;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.543);
    padding: 20px 0 20px 0;
}

header > h1 {
    color: white;
    text-align: center;
    padding: 50px 50px 30px 50px;
    font-family: 'Orbitron', sans-serif;
}

header > p {
    color: white;
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
     margin: 0 20px 0 20px;
    text-indent: 20px;
}

header > p > a {
    color: white;
    text-decoration: none;
}

header > p > a:hover {
    text-decoration: underline;
}

main {
    width: 100%;
    max-width: 700px;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.325);
    padding: 20px 0 20px 0;
}

main > h1 {
    text-align: left;
    margin: 20px;
    text-indent: 20px;
    font-family: 'Orbitron', sans-serif;
    color: #2733E0;
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0.311), rgba(0, 0, 255, 0.311), transparent);
}

main > h2 {
     text-align: left;
    margin: 20px;
    text-indent: 20px;
    font-family: 'Orbitron', sans-serif;
    color: #2733E0;
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0.311), rgba(0, 0, 255, 0.311), transparent);
}

main > p {
    text-align: justify;
    font-size: 18px;
    text-indent: 1em;
    margin: 0 1em 1.5em 1em;
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}

main > img {
    width: 80%;
    max-height: 300px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.abaixo {
    padding-top: 20px;
}

div.areafundo1 {
    width: 300px;
    height: 300px;
    background-image: url(imgs-especiais/pattern004.png);
    border: 3px solid #2733E0;
    margin: auto;
    margin-bottom: 20px;
}

div.areafundo2 {
    width: 300px;
    height: 300px;
    background-image: url(imgs-especiais/pattern004.png);
    border: 3px solid #2733E0;
    margin: auto;
    margin-bottom: 20px;
    background-size: 50px 50px;
}

div.areafundo3 {
    width: 300px;
    height: 300px;
    background-image: url(imgs-especiais/pattern004.png);
    border: 3px solid #2733E0;
    margin: auto;
    margin-bottom: 20px;
    background-repeat: no-repeat;
}

div.areafundo4 {
    width: 300px;
    height: 300px;
    background-image: url(imgs-especiais/wallpaper002.jpg);
    border: 3px solid #2733E0;
    margin: auto;
    margin-bottom: 20px;
    background-position: left top;
}

div.areafundo5 {
    width: 300px;
    height: 300px;
    background-image: url(imgs-especiais/wallpaper002.jpg);
    border: 3px solid #2733E0;
    margin: auto;
    margin-bottom: 20px;
    background-position: right bottom;
}

strong {
    color: #2733E0;
}